In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
import numpy as np
print(pd.__version__)
print(sns.__version__)
print(np.__version__)

1.4.4
0.12.0
1.23.2

### CSV 파일 확인
 - AGE
 - Gender
 - Size
 
### 유니코드 에러 확인
 - UnicodeDecodeError 에러 발생
 - encoding="euc-kr" 추가로 해결

In [5]:
df1=pd.read_csv("DataV2/Age.csv", encoding="euc-kr")
df1

,구분,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,18세 미만,1,1,0,1,4,2,2,3,2,2,2,1,1,0,2,0,0,0
1,18세 ~ 24세,50,31,33,30,29,31,34,30,24,29,35,35,21,15,31,19,14,20
2,25세 ~ 29세,113,91,86,68,70,73,40,50,46,48,39,43,29,45,42,46,41,31
3,30세 ~ 34세,181,148,114,113,118,97,90,86,103,74,66,53,40,48,57,56,63,45
4,35세 ~ 39세,256,230,179,203,190,148,122,121,123,105,100,103,93,96,92,100,80,95
5,40세 ~ 44세,358,307,299,276,300,250,243,183,209,196,159,176,165,166,164,140,132,129
6,45세 ~ 49세,410,378,419,347,342,298,318,269,265,241,244,238,233,229,234,228,206,203
7,50세 ~ 54세,348,336,342,331,343,303,321,346,274,347,283,271,263,290,325,267,295,312
8,55세 ~ 59세,303,273,276,290,293,253,264,277,301,312,325,275,314,329,362,337,315,302
9,60세 ~ 64세,281,206,225,207,187,177,225,217,229,251,248,245,273,296,345,298,367,335
10,65세 ~ 69세,154,151,143,168,134,166,144,164,168,170,180,205,181,210,241,228,242,307
11,70세 ~ 74세,72,66,70,73,86,69,80,71,82,107,115,94,101,117,129,176,153,163
12,75세 ~ 79세,15,25,22,25,33,36,34,32,26,32,41,52,47,92,81,91,106,96
13,80세 이상,9,6,15,10,17,13,14,11,12,15,13,19,16,24,37,34,48,42
14,분류불능,35,33,15,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
df2=pd.read_csv("DataV2/Gender.csv", encoding="euc-kr")
df2

,구분,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,남,2449,2145,2115,2051,2048,1841,1868,1788,1796,1852,1775,1746,1699,1883,2030,1948,1986,1984
1,여,137,137,123,108,98,75,63,72,68,77,75,64,78,74,112,72,76,96

In [10]:
df3=pd.read_csv("DataV2/Size.csv", encoding="euc-kr")
df3

,구분,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,5인 미만,449,422,418,463,539,510,406,455,422,446,422,421,412,416,479,494,500,567
1,5인 ~ 9인,263,254,249,221,191,176,198,193,238,182,189,198,194,223,224,221,228,234
2,10인 ~ 19인,330,247,255,207,229,194,227,212,232,200,211,187,201,244,249,260,248,250
3,20인 ~ 29인,147,143,151,172,120,115,112,115,106,129,104,103,120,115,150,120,146,156
4,30인 ~ 49인,213,189,178,187,142,130,163,157,160,159,152,153,150,150,183,150,181,152
5,50인 ~ 99인,229,210,215,203,253,174,224,183,168,200,174,177,172,190,170,180,160,174
6,100인 ~ 299인,410,364,329,310,299,275,274,227,261,262,239,239,216,245,295,240,260,210
7,300인 ~ 499인,149,125,116,106,96,93,97,90,77,111,131,128,115,106,136,113,93,88
8,500인 ~ 999인,166,154,173,133,140,130,101,113,87,112,122,123,114,177,153,158,162,141
9,"1,000인 이상",230,174,154,157,137,119,129,115,113,128,106,81,83,91,103,84,84,108

### concat을 통해 CSV 파일 하나로 합치기

In [12]:
df4=pd.concat([df1,df2,df3], ignore_index=True)
df4

,구분,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,18세 미만,1,1,0,1,4,2,2,3,2,2,2,1,1,0,2,0,0,0
1,18세 ~ 24세,50,31,33,30,29,31,34,30,24,29,35,35,21,15,31,19,14,20
2,25세 ~ 29세,113,91,86,68,70,73,40,50,46,48,39,43,29,45,42,46,41,31
3,30세 ~ 34세,181,148,114,113,118,97,90,86,103,74,66,53,40,48,57,56,63,45
4,35세 ~ 39세,256,230,179,203,190,148,122,121,123,105,100,103,93,96,92,100,80,95
5,40세 ~ 44세,358,307,299,276,300,250,243,183,209,196,159,176,165,166,164,140,132,129
6,45세 ~ 49세,410,378,419,347,342,298,318,269,265,241,244,238,233,229,234,228,206,203
7,50세 ~ 54세,348,336,342,331,343,303,321,346,274,347,283,271,263,290,325,267,295,312
8,55세 ~ 59세,303,273,276,290,293,253,264,277,301,312,325,275,314,329,362,337,315,302
9,60세 ~ 64세,281,206,225,207,187,177,225,217,229,251,248,245,273,296,345,298,367,335
10,65세 ~ 69세,154,151,143,168,134,166,144,164,168,170,180,205,181,210,241,228,242,307
11,70세 ~ 74세,72,66,70,73,86,69,80,71,82,107,115,94,101,117,129,176,153,163
12,75세 ~ 79세,15,25,22,25,33,36,34,32,26,32,41,52,47,92,81,91,106,96
13,80세 이상,9,6,15,10,17,13,14,11,12,15,13,19,16,24,37,34,48,42
14,분류불능,35,33,15,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,남,2449,2145,2115,2051,2048,1841,1868,1788,1796,1852,1775,1746,1699,1883,2030,1948,1986,1984
16,여,137,137,123,108,98,75,63,72,68,77,75,64,78,74,112,72,76,96
17,5인 미만,449,422,418,463,539,510,406,455,422,446,422,421,412,416,479,494,500,567
18,5인 ~ 9인,263,254,249,221,191,176,198,193,238,182,189,198,194,223,224,221,228,234
19,10인 ~ 19인,330,247,255,207,229,194,227,212,232,200,211,187,201,244,249,260,248,250
20,20인 ~ 29인,147,143,151,172,120,115,112,115,106,129,104,103,120,115,150,120,146,156
21,30인 ~ 49인,213,189,178,187,142,130,163,157,160,159,152,153,150,150,183,150,181,152
22,50인 ~ 99인,229,210,215,203,253,174,224,183,168,200,174,177,172,190,170,180,160,174
23,100인 ~ 299인,410,364,329,310,299,275,274,227,261,262,239,239,216,245,295,240,260,210
24,300인 ~ 499인,149,125,116,106,96,93,97,90,77,111,131,128,115,106,136,113,93,88
25,500인 ~ 999인,166,154,173,133,140,130,101,113,87,112,122,123,114,177,153,158,162,141
26,"1,000인 이상",230,174,154,157,137,119,129,115,113,128,106,81,83,91,103,84,84,108

### 행과 열 바꾸기
- transpose() 사용

In [13]:
df4=df4.transpose()
df4

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
구분,18세 미만,18세 ~ 24세,25세 ~ 29세,30세 ~ 34세,35세 ~ 39세,40세 ~ 44세,45세 ~ 49세,50세 ~ 54세,55세 ~ 59세,60세 ~ 64세,...,5인 미만,5인 ~ 9인,10인 ~ 19인,20인 ~ 29인,30인 ~ 49인,50인 ~ 99인,100인 ~ 299인,300인 ~ 499인,500인 ~ 999인,"1,000인 이상"
2004,1,50,113,181,256,358,410,348,303,281,...,449,263,330,147,213,229,410,149,166,230
2005,1,31,91,148,230,307,378,336,273,206,...,422,254,247,143,189,210,364,125,154,174
2006,0,33,86,114,179,299,419,342,276,225,...,418,249,255,151,178,215,329,116,173,154
2007,1,30,68,113,203,276,347,331,290,207,...,463,221,207,172,187,203,310,106,133,157
2008,4,29,70,118,190,300,342,343,293,187,...,539,191,229,120,142,253,299,96,140,137
2009,2,31,73,97,148,250,298,303,253,177,...,510,176,194,115,130,174,275,93,130,119
2010,2,34,40,90,122,243,318,321,264,225,...,406,198,227,112,163,224,274,97,101,129
2011,3,30,50,86,121,183,269,346,277,217,...,455,193,212,115,157,183,227,90,113,115
2012,2,24,46,103,123,209,265,274,301,229,...,422,238,232,106,160,168,261,77,87,113
2013,2,29,48,74,105,196,241,347,312,251,...,446,182,200,129,159,200,262,111,112,128
2014,2,35,39,66,100,159,244,283,325,248,...,422,189,211,104,152,174,239,131,122,106
2015,1,35,43,53,103,176,238,271,275,245,...,421,198,187,103,153,177,239,128,123,81
2016,1,21,29,40,93,165,233,263,314,273,...,412,194,201,120,150,172,216,115,114,83
2017,0,15,45,48,96,166,229,290,329,296,...,416,223,244,115,150,190,245,106,177,91
2018,2,31,42,57,92,164,234,325,362,345,...,479,224,249,150,183,170,295,136,153,103
2019,0,19,46,56,100,140,228,267,337,298,...,494,221,260,120,150,180,240,113,158,84
2020,0,14,41,63,80,132,206,295,315,367,...,500,228,248,146,181,160,260,93,162,84
2021,0,20,31,45,95,129,203,312,302,335,...,567,234,250,156,152,174,210,88,141,108

In [14]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 구분 to 2021
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       19 non-null     object
 1   1       19 non-null     object
 2   2       19 non-null     object
 3   3       19 non-null     object
 4   4       19 non-null     object
 5   5       19 non-null     object
 6   6       19 non-null     object
 7   7       19 non-null     object
 8   8       19 non-null     object
 9   9       19 non-null     object
 10  10      19 non-null     object
 11  11      19 non-null     object
 12  12      19 non-null     object
 13  13      19 non-null     object
 14  14      19 non-null     object
 15  15      19 non-null     object
 16  16      19 non-null     object
 17  17      19 non-null     object
 18  18      19 non-null     object
 19  19      19 non-null     object
 20  20      19 non-null     object
 21  21      19 non-null     object
 22  22      19 non-null     object
 23  23      19 non-null     object
 24  24      19 non-null     object
 25  25      19 non-null     object
 26  26      19 non-null     object
dtypes: object(27)
memory usage: 4.7+ KB

### 칼럼 이름 변경
 - df4.columns=[] : 전제 변경
 - df4.rename(columns{'Before':'After'}) - 부분 변경

In [39]:
df4.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26],
           dtype='int64')

In [42]:
df4.columns=['18세 미만','18~24세','25~29세','30~34세','35~39세','40~44세','45~49세','50~54세','55~59세','60~64세','65~69세','70~74세','75~79세','80세 이상','분류불능',
             '남','여','5인 미만','5~9인','10~19인','20~29인','30~49인','50~99인','100~299인','300~499인','500~999인','1000인 이상']
df4

,18세 미만,18~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,...,5인 미만,5~9인,10~19인,20~29인,30~49인,50~99인,100~299인,300~499인,500~999인,1000인 이상
구분,18세 미만,18세 ~ 24세,25세 ~ 29세,30세 ~ 34세,35세 ~ 39세,40세 ~ 44세,45세 ~ 49세,50세 ~ 54세,55세 ~ 59세,60세 ~ 64세,...,5인 미만,5인 ~ 9인,10인 ~ 19인,20인 ~ 29인,30인 ~ 49인,50인 ~ 99인,100인 ~ 299인,300인 ~ 499인,500인 ~ 999인,"1,000인 이상"
2004,1,50,113,181,256,358,410,348,303,281,...,449,263,330,147,213,229,410,149,166,230
2005,1,31,91,148,230,307,378,336,273,206,...,422,254,247,143,189,210,364,125,154,174
2006,0,33,86,114,179,299,419,342,276,225,...,418,249,255,151,178,215,329,116,173,154
2007,1,30,68,113,203,276,347,331,290,207,...,463,221,207,172,187,203,310,106,133,157
2008,4,29,70,118,190,300,342,343,293,187,...,539,191,229,120,142,253,299,96,140,137
2009,2,31,73,97,148,250,298,303,253,177,...,510,176,194,115,130,174,275,93,130,119
2010,2,34,40,90,122,243,318,321,264,225,...,406,198,227,112,163,224,274,97,101,129
2011,3,30,50,86,121,183,269,346,277,217,...,455,193,212,115,157,183,227,90,113,115
2012,2,24,46,103,123,209,265,274,301,229,...,422,238,232,106,160,168,261,77,87,113
2013,2,29,48,74,105,196,241,347,312,251,...,446,182,200,129,159,200,262,111,112,128
2014,2,35,39,66,100,159,244,283,325,248,...,422,189,211,104,152,174,239,131,122,106
2015,1,35,43,53,103,176,238,271,275,245,...,421,198,187,103,153,177,239,128,123,81
2016,1,21,29,40,93,165,233,263,314,273,...,412,194,201,120,150,172,216,115,114,83
2017,0,15,45,48,96,166,229,290,329,296,...,416,223,244,115,150,190,245,106,177,91
2018,2,31,42,57,92,164,234,325,362,345,...,479,224,249,150,183,170,295,136,153,103
2019,0,19,46,56,100,140,228,267,337,298,...,494,221,260,120,150,180,240,113,158,84
2020,0,14,41,63,80,132,206,295,315,367,...,500,228,248,146,181,160,260,93,162,84
2021,0,20,31,45,95,129,203,312,302,335,...,567,234,250,156,152,174,210,88,141,108

In [43]:
df4.sample(5)

,18세 미만,18~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,...,5인 미만,5~9인,10~19인,20~29인,30~49인,50~99인,100~299인,300~499인,500~999인,1000인 이상
2007,1,30,68,113,203,276,347,331,290,207,...,463,221,207,172,187,203,310,106,133,157
2014,2,35,39,66,100,159,244,283,325,248,...,422,189,211,104,152,174,239,131,122,106
2016,1,21,29,40,93,165,233,263,314,273,...,412,194,201,120,150,172,216,115,114,83
2011,3,30,50,86,121,183,269,346,277,217,...,455,193,212,115,157,183,227,90,113,115
2021,0,20,31,45,95,129,203,312,302,335,...,567,234,250,156,152,174,210,88,141,108

In [44]:
df4.head()

,18세 미만,18~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,...,5인 미만,5~9인,10~19인,20~29인,30~49인,50~99인,100~299인,300~499인,500~999인,1000인 이상
구분,18세 미만,18세 ~ 24세,25세 ~ 29세,30세 ~ 34세,35세 ~ 39세,40세 ~ 44세,45세 ~ 49세,50세 ~ 54세,55세 ~ 59세,60세 ~ 64세,...,5인 미만,5인 ~ 9인,10인 ~ 19인,20인 ~ 29인,30인 ~ 49인,50인 ~ 99인,100인 ~ 299인,300인 ~ 499인,500인 ~ 999인,"1,000인 이상"
2004,1,50,113,181,256,358,410,348,303,281,...,449,263,330,147,213,229,410,149,166,230
2005,1,31,91,148,230,307,378,336,273,206,...,422,254,247,143,189,210,364,125,154,174
2006,0,33,86,114,179,299,419,342,276,225,...,418,249,255,151,178,215,329,116,173,154
2007,1,30,68,113,203,276,347,331,290,207,...,463,221,207,172,187,203,310,106,133,157

### 행 삭제 필요

In [47]:
df4=df4.drop(["구분"], axis=0)

In [48]:
df4.head()

,18세 미만,18~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,...,5인 미만,5~9인,10~19인,20~29인,30~49인,50~99인,100~299인,300~499인,500~999인,1000인 이상
2004,1,50,113,181,256,358,410,348,303,281,...,449,263,330,147,213,229,410,149,166,230
2005,1,31,91,148,230,307,378,336,273,206,...,422,254,247,143,189,210,364,125,154,174
2006,0,33,86,114,179,299,419,342,276,225,...,418,249,255,151,178,215,329,116,173,154
2007,1,30,68,113,203,276,347,331,290,207,...,463,221,207,172,187,203,310,106,133,157
2008,4,29,70,118,190,300,342,343,293,187,...,539,191,229,120,142,253,299,96,140,137

### csv 파일 만들기

In [49]:
df4.to_csv("DataV2/Total.csv")

### csv 생성되며 생긴 무명의 칼럼없이 불러오기

In [79]:
df5=pd.read_csv("DataV2/Total.csv", index_col=0)
df5

,18세 미만,18~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세,60~64세,...,5인 미만,5~9인,10~19인,20~29인,30~49인,50~99인,100~299인,300~499인,500~999인,1000인 이상
2004,1,50,113,181,256,358,410,348,303,281,...,449,263,330,147,213,229,410,149,166,230
2005,1,31,91,148,230,307,378,336,273,206,...,422,254,247,143,189,210,364,125,154,174
2006,0,33,86,114,179,299,419,342,276,225,...,418,249,255,151,178,215,329,116,173,154
2007,1,30,68,113,203,276,347,331,290,207,...,463,221,207,172,187,203,310,106,133,157
2008,4,29,70,118,190,300,342,343,293,187,...,539,191,229,120,142,253,299,96,140,137
2009,2,31,73,97,148,250,298,303,253,177,...,510,176,194,115,130,174,275,93,130,119
2010,2,34,40,90,122,243,318,321,264,225,...,406,198,227,112,163,224,274,97,101,129
2011,3,30,50,86,121,183,269,346,277,217,...,455,193,212,115,157,183,227,90,113,115
2012,2,24,46,103,123,209,265,274,301,229,...,422,238,232,106,160,168,261,77,87,113
2013,2,29,48,74,105,196,241,347,312,251,...,446,182,200,129,159,200,262,111,112,128
2014,2,35,39,66,100,159,244,283,325,248,...,422,189,211,104,152,174,239,131,122,106
2015,1,35,43,53,103,176,238,271,275,245,...,421,198,187,103,153,177,239,128,123,81
2016,1,21,29,40,93,165,233,263,314,273,...,412,194,201,120,150,172,216,115,114,83
2017,0,15,45,48,96,166,229,290,329,296,...,416,223,244,115,150,190,245,106,177,91
2018,2,31,42,57,92,164,234,325,362,345,...,479,224,249,150,183,170,295,136,153,103
2019,0,19,46,56,100,140,228,267,337,298,...,494,221,260,120,150,180,240,113,158,84
2020,0,14,41,63,80,132,206,295,315,367,...,500,228,248,146,181,160,260,93,162,84
2021,0,20,31,45,95,129,203,312,302,335,...,567,234,250,156,152,174,210,88,141,108

### 데이터 활용 준비 완료